In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import plotly.graph_objects as go

import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import plotly.express as px
%matplotlib inline

# Make Plotly work in your Jupyter Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
# Use Plotly locally
cf.go_offline()

import datapane as dp

In [2]:
import plotly.io as pio

# Create a custom default template
custom_template = pio.templates["plotly_white"]  # Start with an existing template
custom_template.layout.title.font.size = 16
custom_template.layout.title.x = 0.5  # Center titles
custom_template.layout.xaxis.title.font.size = 14
custom_template.layout.yaxis.title.font.size = 14
custom_template.layout.margin = dict(l=40, r=40, t=40, b=40)  # Adjust margins
custom_template.layout.legend.font.size = 12

# Register the custom template globally
pio.templates["custom_template"] = custom_template

# Set it as the default template
pio.templates.default = "plotly_white+custom_template"

In [3]:
df = pd.read_csv('../Railroad Incidents/Railroad_Equipment_Accident_Incident_Source_Data__Form_54__20241026.csv', delimiter=',', low_memory=False)

In [4]:
df.columns

Index(['IYR', 'IMO', 'RAILROAD', 'INCDTNO', 'IYR2', 'IMO2', 'RR2', 'INCDTNO2',
       'IYR3', 'IMO3',
       ...
       'NARR15', 'RCL', 'Latitude', 'Longitud', 'SIGNAL', 'MOPERA', 'ADJUNCT1',
       'ADJUNCT2', 'ADJUNCT3', 'SUBDIV'],
      dtype='object', length=145)

In [5]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220087 entries, 0 to 220086
Columns: 145 entries, IYR to SUBDIV
dtypes: float64(33), int64(49), object(63)
memory usage: 722.2 MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
IYR,220087.0,58.457151,35.324501,0.00000,16.000000,78.000000,84.000000,99.0000
IMO,220087.0,6.430484,3.454854,1.00000,3.000000,6.000000,9.000000,12.0000
IYR2,19104.0,58.358093,35.198010,0.00000,16.000000,77.000000,83.000000,99.0000
IMO2,19104.0,6.443729,3.462284,1.00000,3.000000,6.000000,9.000000,12.0000
IYR3,220075.0,58.459112,35.324465,0.00000,16.000000,78.000000,84.000000,99.0000
...,...,...,...,...,...,...,...,...
ALCOHOL,77633.0,0.004972,0.079938,0.00000,0.000000,0.000000,0.000000,2.0000
DRUG,77990.0,0.006873,0.090611,0.00000,0.000000,0.000000,0.000000,6.0000
Latitude,65518.0,19.053823,19.224871,0.00000,0.000000,26.507306,38.901793,64.8453
Longitud,65534.0,-46.785261,47.349838,-683.19219,-91.032517,-71.521633,0.000000,0.0000
SIGNAL,32952.0,1.703630,0.456663,1.00000,1.000000,2.000000,2.000000,2.0000

In [7]:
missing_summary = df.isnull().sum()
print("Missing Values per Column:")
print(missing_summary[missing_summary > 0])

Missing Values per Column:
IYR2        200983
IMO2        200983
RR2         200979
INCDTNO2    200980
IYR3            12
             ...
MOPERA      187138
ADJUNCT1    198168
ADJUNCT2    217535
ADJUNCT3    219395
SUBDIV      187155
Length: 91, dtype: int64

In [10]:
df.shape

(11561, 138)

In [14]:
gen_cols = (y for y in df.columns)
for col in gen_cols:
    print(col)

IYR
IMO
RAILROAD
INCDTNO
IYR2
IMO2
RR2
INCDTNO2
IYR3
IMO3
RR3
INCDTNO3
GXID
YEAR
MONTH
DAY
TIMEHR
TIMEMIN
AMPM
TYPE
CARS
CARSDMG
CARSHZD
EVACUATE
DIVISION
STATION
MILEPOST
STATE
TEMP
VISIBLTY
WEATHER
TRNSPD
TYPSPD
TRNNBR
TRNDIR
TONS
TYPEQ
EQATT
TRKNAME
TRKCLAS
TRKDNSTY
TYPTRK
RRCAR1
CARNBR1
POSITON1
LOADED1
RRCAR2
CARNBR2
POSITON2
LOADED2
HEADEND1
MIDMAN1
MIDREM1
RMAN1
RREM1
HEADEND2
MIDMAN2
MIDREM2
RMAN2
RREM2
LOADF1
LOADP1
EMPTYF1
EMPTYP1
CABOOSE1
LOADF2
LOADP2
EMPTYF2
EMPTYP2
CABOOSE2
EQPDMG
TRKDMG
CAUSE
CAUSE2
CASKLDRR
CASINJRR
CASKLD
CASINJ
ACCAUSE
ACCTRK
ACCTRKCL
HIGHSPD
ACCDMG
STCNTY
TOTINJ
TOTKLD
ENGRS
FIREMEN
CONDUCTR
BRAKEMEN
ENGHR
ENGMIN
CDTRHR
CDTRMIN
JOINTCD
REGION
TYPRR
RRDIV
METHOD
NARRLEN
YEAR4
RREMPKLD
RREMPINJ
PASSKLD
PASSINJ
OTHERKLD
OTHERINJ
COUNTY
CNTYCD
ALCOHOL
DRUG
PASSTRN
SSB1
SSB2
NARR1
NARR2
NARR3
NARR4
NARR5
NARR6
NARR7
NARR8
NARR9
NARR10
NARR11
NARR12
NARR13
NARR14
NARR15
RCL
Latitude
Longitud
SIGNAL
MOPERA
ADJUNCT1
ADJUNCT2
ADJUNCT3
SUBDIV

In [8]:
# Drop unnecessary or duplicate columns (like DUMMY columns if not needed)
df = df.drop(columns=[col for col in df.columns if 'DUMMY' in col], errors='ignore')

# Fill or drop missing values based on context
df['CAUSE'] = df['CAUSE'].fillna('UNKNOWN')  # Example: Fill missing causes
df = df.dropna(subset=['RAILROAD', 'GXID', 'TIMEHR', 'TIMEMIN'])  # Drop rows missing critical info

In [9]:
df.shape

(11561, 138)